.hero-container {
  background-color: var(--darkestblue);
  padding: 30px;
  color: white;
  height: 80vh;
}

.hero-inner-container {
  display: flex;
  gap: 100px;
  width: 1200px;
  margin: 150px auto;
}

.hero-inner-container h1 {
  font-size: 58px;
  font-family: var(--ff-heading);
  font-weight: 600;
}

.hero-inner-container p {
  font-size: 16px;
  font-family: var(--ff-body);
  font-weight: 500;
  width: 70%;
  margin-bottom: 40px;
}

.purple {
  color: var(--purple)
}

.dashboard-img {
  width: 35%;
}


