nav {
  background-color: var(--darkestblue);
  color: white;
  font-family: var(--ff-heading)
}

nav>div {
  display: flex;
  align-items: center;
  padding: 5px 0;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  transition: 0.2s ease-in-out
}

nav ul li:hover {
  cursor: pointer;
  color: var(--purple)
}

nav ul li a {
  font-family: var(--ff-heading)
}

.logo {
  width: 80px;
}

.hamburger {
  font-size: 30px;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.exit {
  font-size: 35px;
  display: none;
}

.exit:hover {
  cursor: pointer;
}

.nav-right-section {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .nav-right-section{
    display: none;
  }

  nav ul {
    position: absolute;
    top: -25px;
    right: 0;
    flex-direction: column;
    background-color: var(--pink);
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 40px;
    transition: 0.3s ease-in-out;
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
  }

  nav {
    padding: 15px 30px;
  }  

  .hamburger {
    display: block;
  }

  .exit {
    display: block
  }
} 
